@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: Carson;
    src: url('../fonts/carson/Carson.otf');
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 300;
}

.ff-lato {
    font-family: 'Lato', sans-serif;
}
.ff-Bebas, h1, .h1, h2, .h2, h3, .h3, h4, .h4 , h5, .h5, h6, .h6 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

/* colors */
.text-black {
    color: #000000 !important;
}

.text-light {
    color: #ececee !important;
}
.text-white {
    color: #fff !important;
}

.bg-black {
    background-color: #000 !important;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray {
    background-color: #dcdee2 !important;
}
/* typography */
.text-small {
    font-size: 22px !important;
}

.text-medium {
    font-size: 24px !important;
}

.text-large, .section_title {
    font-size: 48px !important;
}

.text-xlarge {
    font-size: 60px !important;
}

.text-xxlarge {
    font-size: 75px !important;
}

.text-xlarge {
    font-size: 80px !important;
}

@media (max-width: 768px) {
    .text-small {
            font-size: 18px !important;
        }
    
        .text-medium {
            font-size: 20px !important;
        }
    
        .text-large {
            font-size: 40px !important;
        }
    
        .text-xlarge {
            font-size: 55px !important;
        }
    
        .text-xxlarge {
            font-size: 60px !important;
        }
    
        .text-xlarge {
            font-size: 65px !important;
        }
}

.btn {
    font-weight: 400;
    border-radius: 5px;
    box-shadow: none !important;
    outline: 0 !important;
    height: 66px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Lato";
}

.btn-dafault {
    background: #4c4b4b ;
    color: #bbbbbb !important;
    border: 1px solid #4c4b4b ;
}
.btn-dafault:hover {
    background: #585454 ;
    border: 1px solid #585454 ;
}

.btn-primary {
    background: #000 ;
    color: #bbbbbb !important;
    border: 1px solid #000 ;
}
.btn-primary:hover {
    background: #222 ;
    border: 1px solid #222 ;
}

section {
    padding: 50px 0;
}

a {
    color: #fff;
    text-decoration: none;
}
/* header */
header {
    background: url('../imgs/header_bg.png') center center no-repeat;
    height: 1131px;
    background-size: cover;
    position: relative;
}
header .tagline{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .tagline h1{
    font-size: 55px;
    letter-spacing: 4px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
}
header .tagline .subtag{
    font-size: 30px;
        letter-spacing: 2px;
        color: #ffffff;
        font-family: "Carson";
        text-align: center;
}

header .navbar-brand img{
    width: 106px;
        height: 106px;
}
header ul li a{
    font-size: 26px !important;
        letter-spacing: -1px;
        color: #ffffff !important;
        font-weight: 300;
        font-family: "Lato";
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    }
    .navbar-expand-lg {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
                    .navbar>.container{
            align-items: self-start;
    }
} 
/* about */
#about .left_bg{
    background: url("../imgs/bplaceholder.png") center center no-repeat;
    background-size: cover;
    height: 712px;
}
#about .inner_details,
#promotion .inner_details,
#featured .inner_details{
    padding: 120px 48px;
    max-width: 668px;
    font-size: 24px;
        letter-spacing: 1px;
}
#about .inner_details .section_title,
#promotion .inner_details .section_title,
#featured .inner_details .section_title{
    position: relative;
    margin-bottom: 50px;
}
.section_title::after,
#promotion .section_title::after,
#featured .section_title::after{
    content: "";
    width: 136px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    bottom: -50px;
    left: 0;
}
#about .inner_details p,
#promotion .inner_details p,
#featured .inner_details p{
    padding-top: 50px;
}
/* review */
#review{
    padding: 165px 0;
}
#review .review h3,
#review .review .h3{
    max-width: 1288px;
    font-size: 60px !important;
    color: #000000;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
    margin-bottom: 40px;
}
#review .review h4 {
    font-size: 36px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}
/* feminine_curves */
#feminine_curves .inner{
    height: 689px;
}
#feminine_curves .inner.left{
    max-width: 571px;
    background: url('../imgs/feminine_left.png') center center no-repeat;
    background-size: cover;
}
#feminine_curves .inner.right{
    max-width: 1076px;
    background: url('../imgs/feminine_right.png') center center no-repeat;
    background-size: cover;
}
#feminine_curves .inner.right .details{
    padding: 45px;
    height: 100%;
}
#feminine_curves .inner.right .details h5{
    font-size: 60px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
}
#feminine_curves .inner.right .details ul li{
    font-size: 30px;
        line-height: 48px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Lato";
        padding-left: 50px;
}
/* fullwidth_bg */
.fullwidth_bg{
    height: 1041px;
    background-size: cover !important;
}
.fullwidth_bg .container{
    height: calc(100% - 50px) !important;
}
.fullwidth_bg.breast{
    background: url('../imgs/breast_bg.png') center center no-repeat;
}
.fullwidth_bg .inner_detail_box{
    max-width: 536px;
    border: 2px solid #ffffff;
    margin: 0 auto;
    padding: 50px;
}
.inner_detail_box h1{
    font-size: 80px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
    text-transform: uppercase;
}
.inner_detail_box p{
    font-size: 22px;
    letter-spacing: 0px;
    color: #ececee;
    font-weight: 300;
    font-family: "Lato";
}
.fullwidth_bg a{
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Lato";
}
.fullwidth_bg a:hover{
    text-decoration: underline;
}
/* promotion */
#promotion .left_bg {
    background: url("../imgs/gplaceholder.png") center center no-repeat;
    background-size: cover;
    height: 712px;
    margin:170px 0;
}
/* mommy_makeover */
.mommy_makeover{
    background: url('../imgs/mommy_makeover_bg.png') center center no-repeat;
}
.mommy_makeover .inner_detail_box h1 ,
.skin_tightening .inner_detail_box h1 {
    font-size: 68px !important;
}
/* bbl */
.bbl{
    background: url('../imgs/bbl_bg.png') center center no-repeat;
}
/* featured */
#featured  {
    margin: 170px 0;
}
#featured .left_bg {
    background: url("../imgs/gplaceholder.png") center center no-repeat;
    height: 712px;
}
/* skin_tightening */
.skin_tightening{
    background: url('../imgs/skin_tightening_bg.png') center center no-repeat;
}
/* body_contour */
.body_contour{
    background: url('../imgs/body_contour_bg.png') center center no-repeat;
}
/* facelift */
.facelift{
    background: url('../imgs/facelift_bg.png') center center no-repeat;
}
/* signup */
.signup{
    padding: 25px 0 !important;
}
.signup .detail{
height: 589px;
        color: #000000;
        font-weight: 400;
        font-family: "Bebas Neue";
        padding: 60px;
}
.signup .detail h1{
    font-size: 80px;
}
.signup .form_wrapper{
        height: 589px;
        background-color: #000000;
        border: 1px solid #000000;
        padding:0 150px;
}
.signup .form_wrapper .form h3{
    font-size: 30px;
        letter-spacing: -1px;
        color: #ffffff;
        font-weight: 600;
        font-family: "Lato";
        text-align: center;
}
.signup .form_wrapper .form form input {
    margin: 25px 0;
    height: 66px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #bec4c1;
}
.contact{
    height: 1037px;
    background-color: #dcdee2;
}
.contact .inner{
    width: 961px;
    margin: 0 auto;
}
.contact .inner h2{
    font-size: 80px;
    color: #000000;
    font-weight: 400;
    font-family: "Bebas Neue";
    text-align: center;
    margin-bottom: 85px;
}
.contact .inner form input{
    background-color: transparent;
    height: 66px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 18px;
    letter-spacing: 0px;
    color: #000000;
    font-weight: 300;
    font-family: "Lato";
    margin-bottom: 25px;
}
.contact .inner form textarea{
    width: 100%;
    height: 367px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #000000;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 300;
    padding: 0.375rem 0.75rem;
}
.contact .inner form .btn-dafault {
    background-color: #000 !important;
}
/* footer */
footer{
    height: 870px;
    background-color: #000000;
    padding: 85px 0 20px;
}
footer .logo{
    margin-bottom: 100px;
}
footer ul{
    margin-bottom: 150px !important;
    max-width: 200px;
        margin: 0 auto;
}
footer ul h3{
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-transform: uppercase;
}
footer ul li a,
footer ul h4,
footer ul p{
    font-size: 15px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Lato";
    text-transform: capitalize;
    
}
footer ul li a{
    margin-bottom:30px
}
footer ul p ,
footer ul h3 {
    margin-bottom:25px
}
footer ul h4{
    padding-top: 10px;
}
footer .copyright{
    font-size: 15px;
    line-height: 48px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
}